<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href='../styles.css'>
    <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
    <script type='text/javascript' src='js/scripts.js'></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title></title>
  </head>
  <body>
    <div class="well" id="navwell">
      <div class="navbar">
        <h3><a href="/home" class="links">HOME</a></h3>
        <h3><a href="/brand" class="links">BRAND</a></h3>
        <h3><a href="/store" class="links">STORES</a></h3>
      </div>
    </div>

    <div class='container'>
      <div class="well">
        <h1>EMPIRE KICKS</h1>
      </div>
      <div>
        <%= yield %>
      </div>
    </div>
  </body>
